
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #fff;
  color: #3D405B;
}

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 0.5rem 1rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  gap: .5rem;
}

header img {
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.25rem;
  font-weight: bold;
  color: #3D405B;
}

.hamburger {
  background: none;
  border: none;
  font-size: 2rem;
  color: #3D405B;
  cursor: pointer;
}

.hamburger::before {
  content: "\2630"; 
}

.hamburger.show::before {
  content: "\00D7"; 
}

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #3D405B;
  border-bottom: 1px solid #ddd;
}

.navigation li.current {
  background-color: #eee;
}

.navigation a:hover {
  background-color: #E07A5F;
  color: white;
}

main {
  padding: 1rem;
}

h1, h2 {
  color: #3D405B;
}

.course-controls {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #3D405B;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #E07A5F;
}

#course-list {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}

.course-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fdfdfd;
}

.course-card.completed {
  background-color: #dff0d8;
  border-color: #b2d8b2;
}

footer {
  text-align: center;
  background-color: #eee;
  padding: 1rem;
}

.social {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 0.5rem;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #ccc;
  
}

.social a:hover {
  background-color: #ddd;
}

.social img {
  width: 24px;
  height: 24px;
}

