
@media screen and (min-width: 38rem) {
  header,
  main,
  nav,
  footer {
    max-width: 900px;
    margin: 0 auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: 1px solid #eee;
  }

  .navigation ul {
    display: flex;
    justify-content: center;
  }

  .navigation a {
    border: none;
  }

  #course-list {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  section img {
    max-width: 300px;
  }
}
